/* Zack*/
/*
h1, h3 {
    font-family: Raleway, Baskerville, "Times New Roman", serif;
    background-color: #f7f7f7;
    }
h1 {
  color: Green;
  font-weight: light;}
h3 {
  color: blue;
  text-decoration: underline;
  border-bottom:5px dashed red;
  font-weight: semi-bold;}
p {
  font-family:futura, helvetica, sans;
  font-size: 1.15em;
  line-height: 1.5em;
  margin: 0 5% 0 5%;
  padding: 1em;}
*/
/* Jen M */
/*
p {
font-family: verdana, sans;
font-weight:1.5em; font-size: 14px
color: purple;
background-color: black;
border: 2px solid DodgerBlue;}

*/
/* Nasim*/
/*
p {
  background-color: light-blue;
  font-family:sans-serif,serif;
  font-weight:normal;
  font-size: 16px;
  color: white;
}
*/

/*Joe*/
/*
p {
font-family: papyrus, fantasy;
font-style: oblique;
background-color: Chartreuse;
border-style: inset;
color: Violet;
}
*/
/* Sierra*/
/*
p {
  background-color: AntiqueWhite;
  font-family: Georgia;
  font-weight: lighter;
  font-size: 16px;
  color: DimGray;
  margin: 15px;
}
*/

/* John */
/*
p {
background-color: lavender;
font-family: old-english-text-mt, fantasy;
font-weight: semi-bold;
font-size: 14px;
text-color: medium-spring-green;
margin: 10%;
}
*/
/*Kate*/
  /*
p {
  font-family:sans-serif;
  font-weight:1.5em;
  background-color: neongreen;
  text-color: black;
  font-weight: lighter;}
*/
/*Laurie*/
/*
p{
  font-family: fantasy, emoji;
  text-color:lightblue;
  background-color:black;
  font-weight: lighter;
 }

/*Reilly*/
/*
p{
font-family: arial, helvetica, sans-serif;
text-color: white;
background-color: #6C5670;
font-weight: bold;
}
*/
 /*Jen G*/
 /*
 p {
    font-family: times new roman;
    background-color: Pink;
    font-weight:2.5em;
    color: antique-white;}
  */
