/*Do not change these*/
body {background-color: #c0c0c0;}
header {
  background-color: #e04f26;
  color:white;
  margin: 0px 20px;
  padding: 10px; }
main {
  margin: 15px 0px;
}
.blue {background-color: #3433CB;
  height: 750PX;
  width: 60%;
  margin: 5px;
  padding: 15px 50px 0px 30px;
  color: white;
}
.blue figure {
  width: 75%;
   /*This may need to be changed.*/
}
.blue img {
width: 100%;
}
.yellow {background-color: #f0e437;
  height:500px;
  width:25%;
  padding:15px 30px;
}
footer {background-color: #04C78E;
  height: 250px;
  width: 100%;
  padding: 15px;
  font-weight: bold;
  text-align: center;
}
/*Add your own rules here to make the layout look like the right Puzzle wireframe in the image.*/

/*Zack

*/
/*John
.yellow {float:right;}
  .blue {float:left;}
  footer {clear:both; float:left;}
  figure {float: left;}
  */
/*Kate*
.blue {
  float: left;
}
.yellow {
  float: right;
}
footer {
  clear: right;
  float: right
}
figure {
  float: left;
}
*/
/*Nasim
    .blue {
      float:left;
  }
    .yellow {
      float: right;
  }
  footer {
    clear:right;
    float:right
}
.blue figure {
    float:left;
}
*/

/*Joe
  .yellow {float: right;}
  .blue {float: left;}
  footer {clear: right;}
*/

/* Sierra
.blue {
  float: left;
}
.yellow {
  float: right;
}
footer {
  clear: right;
  float: right;
  width: 30%;
  margin-top: 50px;
}
*/

/*Laurie
.blue {float: left;}
.yellow {float: right;}
.footer {clear: left;
         float; right}
.figure {float: left;}
*/

/* JenniferM*
.blue {float: left;
}
.yellow {float: right;
}
footer { clear: both;
}
figure {float: left;
}
*/
